<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">

    <title>HLW</title>

    <link rel="stylesheet" href="{{ static_url('css/bundle.css') }}" />
</head>
<body>

<div id="root"></div>

<script type="text/javascript">
    window.sdToken = '{{ token }}';
    window.sdUserId = '{{ user_id }}';
</script>

<script src="{{ static_url('js/lib/react.min.js') }}"></script>
<script src="{{ static_url('js/lib/react-dom.min.js') }}"></script>
<script src="{{ static_url('js/lib/babel.min.js') }}"></script>

<script type="text/babel" src="{{ static_url('js/bundle.js') }}"></script>

</body>
</html>